<div class="notification" *ngIf="loggedOutMsg">
  <button class="delete" (click)="loggedOutMsg=''"></button>
  {{ loggedOutMsg }}
</div>

<div class="container box">
  <h1 class="title">Performance Reviews</h1>

  <div class="notification is-danger" *ngIf="errorMsg">
    <button class="delete" (click)="errorMsg=''"></button> {{errorMsg}}
  </div>

  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="text" placeholder="Username"
        #uInput [value]="username"
        (keyup.enter)="update('username', uInput.value); onEnter();"
        (blur)="update('username', uInput.value)">
      <span class="icon is-small is-left">
        <i class="material-icons">person</i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="password" placeholder="Password"
        #pInput [value]="password"
        (keyup.enter)="update('password', pInput.value); onEnter();"
        (blur)="update('password', pInput.value)">
      <span class="icon is-small is-left">
        <i class="material-icons">lock</i>
      </span>
    </p>
  </div>
  <div class="control">
    <button class="button is-link is-outlined" (click)="login()">Login</button>
  </div>
</div>
