<nav class="navbar is-fixed-top is-link" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <i class="material-icons md-36">supervisor_account</i> Performance Reviews
    </a>

    <a *ngIf="user" role="button" class="navbar-burger burger" [class.is-active]="menuOpen"
      aria-label="menu" aria-expanded="false" (click)="menuOpen= !menuOpen">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div *ngIf="user" class="navbar-menu" [class.is-active]="menuOpen">
    <div *ngIf="user.admin" class="navbar-start">
      <a class="navbar-item is-tab" routerLink="employees" routerLinkActive="is-active">Employees</a>
      <a class="navbar-item is-tab" routerLink="reviews" routerLinkActive="is-active">Review</a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="navbar-item">
          <i class="material-icons">account_circle</i> {{ user.name }}
        </div>
        <div class="navbar-item">
          <a class="button is-white" href="#" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="section">
  <router-outlet></router-outlet>
</section>
