.material-icons {
  float: left;
  margin-right: 4px;

  &.title {
    font-size: 32px;
  }
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
